// #TableManageUser {
//     font-family: Arial, Helvetica, sans-serif;
//     border-collapse: collapse;
//     width: 100%;
// }

// #TableManageUser td,
// #TableManageUser th {
//     border: 1px solid #ddd;
//     padding: 8px;
// }

// #TableManageUser tr:nth-child(even) {
//     background-color: #f2f2f2;
// }

// #TableManageUser tr:hover {
//     background-color: #ddd;
// }

// #TableManageUser th {
//     padding-top: 12px;
//     padding-bottom: 12px;
//     text-align: left;
//     background-color: #04aa6d;
//     color: white;
// }

.table-container {
    max-width: 100%;
    overflow-x: auto;

    .ant-table {
        background-color: #f5f5f5;
        border-radius: 8px;

        th,
        td {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #fafafa;
            font-weight: bold;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #e6f7ff;
        }
    }

    .edit-button,
    .delete-button {
        transition: all 0.3s;
    }

    .edit-button:hover,
    .delete-button:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

// .edit-button {
//     background: #1677ff !important;
// }
